# Ignore model training files, testing stuff
training_runs/
checkpoints/
*_inputs.pt
*_data.pkl
*split_inds.pkl
*logger_info.pickle

# Ignore the Neptune config
neptune_config.yaml

# Vim
*.sw[po]

# Mac stuff
.DS_Store

# Virtual environment
.venv/**

# Byte-compiled / optimized files
__pycache__/
*.py[co]

# Jupyter
.ipynb_checkpoints/

# Neptune
**/.neptune
