# Ignore model training files, testing stuff
training_runs/
checkpoints/
exploratory/
tensorboard/
*_inputs.pt
*_data.pkl
*split_inds.pkl
*logger_info.pickle

# Vim
*.sw[po]

# Mac stuff
.DS_Store

# Virtual environment
env/
env3_10/

# Byte-compiled / optimized files
__pycache__/
*.py[co]

# Distribution / packaging
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Neptune
**/.neptune
